<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/main'"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Create Purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="createPurchase()" #f="ngForm">
    <ion-grid>
      <!--Titre-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Titre</ion-label>
            <ion-input
              type="text"
              ngModel
              name="title"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--From-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-select placeholder="De" style="width: 100%;" [multiple]="false"
              ngModel
              name="from"
              ><ion-select-option *ngFor="let user of users" value={{user.userId}}>{{user.userName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <!--BuyTo-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Pour" style="width: 100%;" [multiple]="true"
              ngModel
              name="buyTo"
              required
              ><ion-select-option *ngFor="let user of users" value={{user.userId}}>{{user.userName}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <!--Montant-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Montant</ion-label>
            <ion-input type="number" ngModel name="amount" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--Create-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
          >
            Créer
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
